.nav{
	list-style:none;
	display:flex;
}
.nav li{
	margin-left:50px;
}
p{
	font-family:Lucida Sans Unicode;
}
h3{
	font-family:Lucida Sans Unicode;
}
ul{
font-family:Lucida Sans Unicode;
}
ol{
font-family:Lucida Sans Unicode;
}

body{
	background:url("")
}

