body{
background:url("https://images.pexels.com/photos/7794436/pexels-photo-7794436.jpeg?auto=compress&cs=tinysrgb&w=600");
}
header{
	    display:flex;
		padding: 10px 60px;
		align-items:center;
		justify-content:space-between;
		color:rgba(237, 9, 27, 0.8);
	
}
.nav{
	list-style:none;
	display:flex;
}
.nav li{
	
	margin-left:50px;

}
.nav a{
	color:black;
}
.nav a:hover{
	background-color:rgba(60, 207, 160, 0.97);
	padding: 12px 24px;
}

.dharun
{
	display:block;
	margin-left:auto;
	margin-right: auto;
	margin-top:100px;
	border-radius:50%;
	width:400px;
	margin-bottom:50px;
}	
.dharun:hover{
	box-shadow:5px 5px 20px black;
	width:450px;
}
	
h1{
	font-family:Fantasy;
	text-align:center;
	text-shadow: 4px 4px white;
	color:rgba(60, 207, 160, 0.97);
	letter-spacing:5px;
}
h3{
	color:rgba(14, 96, 236, 0.8);
}
p{
	color:rgba(239, 18, 78, 0.8);
}
ul{
	color:rgba(255, 35, 249, 0.8);
}
ol{
	color:rgba(253, 77, 7, 0.8);

}
.foot{
//:center;
}
.foot ul{
		list-style:none;
		display:flex;
	
}
.foot li{
		margin-left:30px;
}
.foot img{
	width:50px;
}
	
	
